[submodule "anotherrepo"]
	path = anotherrepo
	url = git@github.com:truongngh/repo2.git
[submodule "justanotherrepo"]
	path = justanotherrepo
	url = ../repo2.git
[submodule "test"]
	path = test
	url = ../repo2.git
	branch = branch1
[submodule "test2"]
	path = test2
	url = git@github.com:truongngh1/repo2.git
	branch = branch2
